#services{
  background-color: var(--gray-100);
  display: grid;
  justify-content: center;
  gap: 8px;
  padding-bottom: 144px;
  h2{
    margin-bottom: 56px;
  }
  h3{
    margin-top: 88px;
  }
  figure{
    background-color: var(--gray-100);
    border: 1px solid;
    border-color: var(--gray-300);
  }
  img{
    width: 48px;
    height: 48px;
    margin-top: 20px 0 0 20px;
  }
  p{
    color: var(--gray-500);
  }
}
#grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
